openmpi-4.0.5/
openmpi-4.0.5.tar.gz
pin-3.22-98547-g7a303a835-gcc-linux/
pin-3.22-98547-g7a303a835-gcc-linux.tar.gz
orig/
build/openmpi-4.0.5
build/sst-core
build/sst-elements
build/sst-macro
build/sst-transports
install/openmpi-4.0.5
install/sst-core
install/sst-elements
install/sst-macro
install/sst-transports
sst_test_outputs/
libltdl/
autom4te.cache/
*.log
*.swp
*.swo
*.elf
*.o
*~
